
* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0 auto;
    min-width: 1000px;
    max-width: 1400px;
  }
  
  /* Layout */
  
  section {
    float: left;
    width: 50%;
  }
  
  aside {
    float: left;
    width: 30%;
  }
  
  nav {
    float: left;
    width: 20%;
  }
  
  footer {
    clear: both;
  }
  
  header, section, aside, nav, footer {
    padding: 20px;
  }
  
  /* header and footer */
  
  header, footer {
    border-top: 5px solid #a66;
    border-bottom: 5px solid #a66;
  }
  
  /* WRITE YOUR CODE BELOW HERE */
  p,li
  {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  h1, h2 {
    font-family: cursive;
    font-weight: bolder; 
  }
  h1{
    font-size: 40px;
  }
  header{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  a{
    color: #a66;
    
  }
  .box{
    display: block;
    width: 100%;
    padding: 30px;
    margin-bottom: 10px;
    text-align: center;
    border: 1px solid #a66 ;
    border-radius: 5px;
    text-decoration: none;
    color: #a66;
  }
    
  
  #kutu {
    list-style-type: none; 
   
  }
